.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  min-width: 1000px;
  font-family: "Microsoft Yahei", 'simsun', arial, verdana, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f7f7f7;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
input {
  padding: 0;
  margin: 0;
}
h4,
h5,
h6 {
  font-size: 1em;
}
ul,
ol {
  padding-left: 0;
  list-style-type: none;
}
img {
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  outline: 0;
}
button,
input {
  line-height: normal;

  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #f00;
  text-decoration: underline;
}
a:hover,
a:active {
  outline: 0;
}
[class^="icon-"],
[class*=" icon-"] {
  background-repeat: no-repeat;
}
